body {
    margin-top: 100px;
}
.game {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid black;
    margin: auto;
    border: 1px solid black;
    background-image: url(img/background.png);
    z-index: -11;
}

#dino {
    
    width: 50px;
    height: 70px;
    background-image: url(img/jerzy3.png);
    background-size: 51px 70px;
    top: 125px;
    margin-left: 10px;
    position: relative;
    z-index: 2;
}
#cactus {
    left: 570px;
    width: 30px;
    height: 30px;
    background-image: url(img/shit3.png);
    z-index: 1;
    background-size: 30px 30px;
    position: relative;
    top: 100px;

    animation: cactusMov 2s infinite linear;
}

@keyframes cactusMov {
    0% {
        left: 570px;
    }
    100% {
        left: -30px;
    }
}

.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 120px;
    }
    30% {
        top: 75px;
    }
    50% {
        top: 30px;
    }
    80% {
        top: 75px;
    }
    100% {
        top: 120px;
    }
}
