body {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
   
}
.newAlert {
    position: absolute;
    font-size: 30px;
    color: red;
    font-weight: bold;
    display: none;
}
.grid  {
    width: 600px;
    height: 200px;
    border-bottom: 1px solid black;
    margin-top: 100px;
    border: 1px solid black;
    background-image: url(img/background.png);
    z-index: -11;
}

#dino {
    
    width: 50px;
    height: 70px;
    background-image: url(img/jerzy3.png);
    background-size: 50px 70px;
    top: 125px;
    left: 80px;
    position: relative;
    z-index: 2;
}
#cactus {
    left: 570px;
    width: 40px;
    height: 40px;
    background-image: url(img/shit3.png);
    z-index: 1;
    background-size: 40px 40px;
    position: relative;
    top: 95px;

    animation: cactusMov 2s infinite linear;
}

.jump {
    animation: jump 1s linear;
}

@keyframes jump {
    0% {
        top: 125px;
    }
    50% {
        top: 30px;
    }
    100% {
        top: 125px;
    }
}


@keyframes cactusMov {
    0% {
        left: 560px;
    }
    50% {
        left: 220px;
    }
    100% {
        left: -5px;
    }
}




